.main {
  padding-inline: 1em;
  border: solid white 1px;
}

.h1 {
  font-size: 3em;
  padding-bottom: 10px;
  margin-inline: auto;
}

.stats {
  display: grid;
  gap: 1em;
  padding: 1em;
  background-color: whitesmoke;

  li {
    list-style-position: inside;
    list-style-type: circle;
  }
}
