.main {
  padding: 1em;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  overflow: auto;
}

.titleBar {
  place-content: center;
  padding-inline: 1em;

  h1 {
    font-size: 2em;
  }
}

.list {
  list-style-type: none;
  text-decoration: none;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4px;
}

.listItem {
  font-size: 2em;
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover, :focus-visible {
    text-decoration: underline;
    color: rgb(21, 128, 237);
    background-color: rgba(187, 239, 253, 0.3);
  }
}

.pageBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  button {
    width: 2em;
    border: 1px solid rgba(0, 116, 236, 0.9294117647);
    border-radius: 4px;
    background-color: whitesmoke;
    cursor: pointer;
  }
}
