#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template:
    "head head" 50px
    "nav  main" 1fr
    "foot  foot" 50px / auto 1fr;

  @media (width < 720px) {
    grid-template:
      "head" 50px
      "nav" 50px
      "main" 1fr
      "foot" 50px / auto;
  }
}

header {
  /* background-color: lime; */
  grid-area: head;
}

nav {
  /* background-color: lightblue; */
  grid-area: nav;
}

main {
  /* background-color: yellow; */
  grid-area: main;
}

footer {
  /* background-color: red; */
  grid-area: foot;
}
