.layout {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template:
    "header header" 50px
    "nav  main" 1fr
    "footer  footer" 50px / auto 1fr;

  @media (width < 720px) {
    grid-template:
      "header" 50px
      "main" 1fr
      "footer" 50px / auto;

    nav {
      display: none;
    }
  }

  header {
    /* background-color: lime; */
    grid-area: header;
  }

  nav {
    /* background-color: lightblue; */
    grid-area: nav;
  }

  main {
    /* background-color: yellow; */
    grid-area: main;
  }

  footer {
    /* background-color: red; */
    grid-area: footer;
  }
}
